# **What is Google Colab**

Colab is a Jupyter Notebook stored in Google Drive. It is composed of cells. Each of them can contain code, text, images etc. It can execute Python code without any required setup your own machine.

In [1]:
print("Welcome to this session")

Welcome to this session

In [2]:
# Check Python version
import sys
sys.version

'3.12.0 (tags/v3.12.0:0fb18b0, Oct  2 2023, 13:03:39) [MSC v.1935 64 bit (AMD64)]'

# **Introduction to Python**

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991. Python is a versatile, high-level programming language known for its readability and simplicity. It supports multiple programming paradigms, including procedural, object-oriented, and functional programming. Here's a list of things Python can do:

1.   Web Development
2.   Data Science and Analysis
3.   Machine Learning and Artificial Intelligence
4.   Cybersecurity
5.   Web Scraping
6.   Network Programming

And many more

# **Variables and Data Types**

**Python Variable and Data Type**

**Variable Declartion**
No need to declare with any particular data type. Detects automatically.

In [3]:
x=10
x='10'
type(x)

str

**We can also declare many values to multiple variables and also one value to multiple variables**

In [8]:
a,b,c="ICT", "EEE", "CSE"
x=y=z="Hello"

'EEE'

**Input Output Function**

In [13]:
Name = input("Enter something: ")
print("You entered:", Name)
user_number = int(input("Enter a number: "))
print("You entered:", user_number)
name, age, Dept = input("Enter your name and age and Dept(separated by space): ").split()
print("Name:", name)
print("Age:", age)
print("Dept:", Dept)

Enter your name and age and Dept(separated by space): BME 23 EEE
Name: BME
Age: 23
Dept: EEE

In [18]:
#Basic Printing
print("Hello World")

#Printing Multiple variable
name = "John"
age = 30
print("Name:", name, "Age:", age)


#Print Formatted Output
name = "IU"
age = 25.012341
print(f"Name: {name}, Age : {age}")


#Separator
x = 10
y = 20
z = 30
print(x, y, z, sep=", ")

Hello World
Name: John Age: 30
Name: IU, Age : 25.012341
10, 20, 30

***Data Types***
1.  Text Type:	str
2.  Numeric Types:	int, float, complex
3.  Sequence Types:	list, tuple, range
4.  Mapping Type:	dict
5.  Set Types:	set
6.  Boolean Type:	bool

In [7]:
Roll= "12.088"
#print(type(Roll))

In [9]:
# Integer
num_int = 42

# Float
num_float = 3.14

# String. This can be viewed as array
text = "Hello, Python!"

# Boolean
is_true = True
is_false = False

# List
my_list = [1, 2, 3, "apple", "banana"]

# Tuple
my_tuple = (1, 2, "apple")

# Set
my_set = {1, 2, 3, 3, 4}

# Dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

# NoneType
no_value = None

**Type Casting**

1.   Implicit type casting is performed automatically by the Python interpreter. For example, if you add an integer and a float, the Python interpreter will automatically cast the integer to a float before performing the addition.
2.   Explicit type casting is performed by the programmer using the built-in functions int(), float(), and str(). For example, to cast a string to an integer, you would use the int() function.

In [19]:
# Implicit type casting
print(1 + 2.5) # 3.5
print(10 - 5.5) # 4.5
print(1 * 2.5) # 2.5
print(10 / 5) # 2.0

# Explicit type casting
print(int("10")) # 10
print(float("1.5")) # 1.5
print(str(10)) # "10"

3.5
4.5
2.5
2.0
10
1.5
10

# **Basic operators**

**There are different types of operators in python.**
1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

In [12]:
##                                      1.  Arithmetic Operations



# Addition
a = 5 + 3  # Result: 8

# Subtraction
b = 7 - 2  # Result: 5

# Multiplication
c = 4 * 6  # Result: 24

# Division
d = 10 / 2  # Result: 5.0 (float)

# Floor Division
e = 10 // 3  # Result: 3 (integer division)

# Modulus (Remainder)
f = 10 % 3  # Result: 1

In [2]:
##                          2. Comparison Operators



# Equal to
g = 1==1

# Not equal to
h = (4 != 3)  # Result: True

# Greater than
i = (5 > 2)  # Result: True

# Less than
j = (2 < 1)  # Result: False

# Greater than or equal to
k = (7 >= 7)  # Result: True

# Less than or equal to
l = (6 <= 3)  # Result: False

In [ ]:
##3. Logical Operators




# Logical AND
m = True and False  # Result: False

# Logical OR
n = True or False  # Result: True

# Logical NOT
o = not True  # Result: False

In [ ]:
##                                  4. Assignment Operators


# Assignment
p = 10

# Increment
p += 5  # Equivalent to: p = p + 5

# Decrement
p -= 2  # Equivalent to: p = p - 2

In [25]:
##                                 5. Membership Operators


# In
fruits = ['apple', 'banana', 'cherry']
q = 'mango' in fruits  # Result: True
#print(q)
# Not in
r = 'banana' not in fruits  # Result: True
r

False

In [26]:
##                                  6. Identity Operators


# Example 1
x = [1, 2, 3]
y = [1, 2, 3]
z = y

print(id(z))
print(id(y))
print(x is y)  # Output: False (x and y are different objects)
print(x is z)  # Output: False (x and z reference the same object)


'''# Example 2
a = "hello"
b = "world"
c = "hello"

print(a is not b)  # Output: True (a and b are different objects)
print(a is not c)  # Output: False (a and c reference the same object)'''

134024913873280
134024913873280
False
False

'# Example 2\na = "hello"\nb = "world"\nc = "hello"\n\nprint(a is not b)  # Output: True (a and b are different objects)\nprint(a is not c)  # Output: False (a and c reference the same object)'

In [29]:
# 7. Bitwise Operator

#AND
a = 5   # 0b0101 in binary
b = 3   # 0b0011 in binary

result = a & b
print(bin(result))  # Output: 1 (0b0001 in binary)


#OR
a = 5   # 0b0101 in binary
b = 3   # 0b0011 in binary

result = a | b
print(bin(result))  # Output: 7 (0b0111 in binary)


#Not
a = 5   # 0b0101 in binary

result = ~a
print(result)  # Output: -6 (In two's complement representation)

0b1
0b111
-6

# **Strings and string manipulation**

In [ ]:
# 1. Concatenation:

str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)  # Output: Hello World

In [ ]:
# 2. Repetition
word = "Python"
print(word*3)  # Output: PythonPythonPython

In [ ]:
# 3. SLicing
text = "Python is fun!"
substring = text[0:6]  # Extract characters from index 0 to 5
print(substring)  # Output: Python

In [ ]:
# 4. Upper Case, Lower Case
message = "I am IUian"
uppercase_message = message.upper()
lowercase_message = message.lower()
print(uppercase_message)  # Output: MIXED CASE
print(lowercase_message)  # Output: mixed case

In [ ]:
# 5. String Replacement

sentence = "I love programming in Python."
new_sentence = sentence.replace("Python", "Java")
print(new_sentence)

In [ ]:
# 6. Find And Count
phrase = "Python is easy. Python is powerful."
index = phrase.find("is")
count = phrase.count("Python")
print(index)  # Output: 7 (index of first 'is')
print(count)  # Output: 2 (number of occurrences of 'Python')