In [5]:
# Creating Set

my_set = { 12, 1 , 2,  5.4, "IEEE", "IU", "Kushtia", "IU"}
type(my_set)
my_set

{1, 12, 2, 5.4, 'IEEE', 'IU', 'Kushtia'}

In [6]:
#Creating set using set() function

fruits= set(["apple", 'banana', 1 ,23])
print(type(fruits))
fruits

<class 'set'>

{1, 23, 'apple', 'banana'}

Let's explore different types of set methods

In [8]:
# Adding elements

my_set= {2,3,5,"Bd"}

my_set.add(12)
my_set

{12, 2, 3, 5, 'Bd'}

In [10]:
# Removing items from a set. 

# using remove()

my_set.remove(12)
print(my_set)

{2, 3, 5, 'Bd'}

In [12]:

# using discard()

my_set.discard("IU")
my_set

{2, 3, 5}

In [14]:
# using pop()

my_set2={ 1,2,34,41, 32, "IEEE", "IU", 'Student', "Kushtia"}

popped_element = my_set2.pop()
popped_element

32

In [16]:
# Clearing a set's item
my_set.clear()
my_set

set()

Mathematical Functions of set

In [22]:
# Union Operations

set_a = {"IU", 1, 2,4, "BD"}
set_b = {"Kushtia", "IU",2, 10,12, "Ban"}

union_set = set_a.union(set_b)
union_set

{1, 10, 12, 2, 4, 'BD', 'Ban', 'IU', 'Kushtia'}

In [23]:
# Set Intersection operation

intersection_set= set_a.intersection(set_b)
intersection_set

{2, 'IU'}

In [25]:
# Difference between two sets

difference_Set= set_b.difference(set_a)
difference_Set

{10, 12, 'Ban', 'Kushtia'}

In [26]:
# Symmetric differnece between two sets

Set_1 = {1,2,3}
Set_2 = { 3, 4 ,5}

symmttric_difference = Set_1.symmetric_difference(Set_2)

symmttric_difference

{1, 2, 4, 5}

In [28]:
# Subset operation

set_A= {1,2,3}
set_B = {1,2,3,5}

is_subset = set_A.issubset(set_B)
is_subset

False

In [33]:
# Updating a set

set_x={33,52, 54, 12}
set_y={31,33,32,25}
#set_x.update(set_y)

print(set_x)
print(set_y)

{33, 52, 12, 54}
{32, 33, 25, 31}

In [34]:
# Inplace intersect operation
set_x.intersection_update(set_y)

print(set_x)

{33}

In [35]:
# Adding multiple sets into one set

set1= {1,2,4}
set2= {2,34,3}
set3 ={ 10,2,10.5,11}

set1.update(set2,set3)
print(set2)
print(set3)
print(set1)

{2, 3, 34}
{10, 2, 10.5, 11}
{1, 2, 3, 4, 34, 10, 10.5, 11}