List

List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

#List is a collection which is ordered and changeable. Allows duplicate members.#

In [4]:
marks=[11,22,55]
print (marks)
print(marks[2])
print(marks[1:2])

[11, 22, 55]
55
[22]

List can have any Data type

In [7]:
item=[1,5,6.8,'c',"Arnob",True]
print(type(item))
print(item)

<class 'list'>
[1, 5, 6.8, 'c', 'Arnob', True]

List ca be create by using list() constructor

In [9]:
l=list((1,3.5,"name",True))
print(type(l))
print(l)

<class 'list'>
[1, 3.5, 'name', True]

Python Collections (Arrays)

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1]='pinapple'
print(thislist)

['apple', 'pinapple', 'cherry', 'orange', 'kiwi', 'mango']

In [12]:
thislist[1:3]=['Blackberry','waterelon']
print(thislist)

['apple', 'Blackberry', 'waterelon', 'orange', 'kiwi', 'mango']

In [17]:
thislist[1:2]=['banana','guava']
print(thislist)

['apple', 'banana', 'guava', 'cherry', 'waterelon', 'orange', 'kiwi', 'mango']

In [18]:
thislist[1:3]=['jackfruit']
print(thislist)

['apple', 'jackfruit', 'cherry', 'waterelon', 'orange', 'kiwi', 'mango']

Insert

In [19]:
thislist.insert(2,'fruit')
print(thislist)

['apple', 'jackfruit', 'fruit', 'cherry', 'waterelon', 'orange', 'kiwi', 'mango']

In [20]:
thislist=['apple','banana','mango']
thislist.append('orange')
print(thislist)

['apple', 'banana', 'mango', 'orange']

In [21]:
extra=['guava','avocado']
thislist.extend(extra)
print(thislist)

['apple', 'banana', 'mango', 'orange', 'guava', 'avocado']

In [22]:
thistuple=('kiwi','pomigranade')
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'mango', 'orange', 'guava', 'avocado', 'kiwi', 'pomigranade']

remove

In [24]:
thislist.remove("kiwi")
print(thislist)

['apple', 'banana', 'mango', 'orange', 'guava', 'avocado', 'pomigranade']

In [26]:
thislist.pop(1)
print(thislist)
thislist.pop()
print(thislist)

['apple', 'orange', 'guava', 'avocado', 'pomigranade']
['apple', 'orange', 'guava', 'avocado']

In [33]:
thislist=['apple', 'orange', 'guava', 'avocado', 'pomigranade']
del thislist[1]
print(thislist)

['apple', 'guava', 'avocado', 'pomigranade']

In [34]:
thislist.clear()
print(thislist)

[]

Loop in List

In [36]:
thislist=['arnob','soisob','onty']
for x in thislist:
    print(x)

arnob
soisob
onty

In [37]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [39]:
new=[x.upper() for x in fruits if 'n' in x]
print(new)

['BANANA', 'MANGO']

**Jump Index**

In [1]:
marks=[5,6,"Arnob", True]
print(marks[0:4:2])

[5, 'Arnob']