String

In [21]:
s="  Hello, my name is Arnob   "

for i in s:
    print(i,end='')

  Hello, my name is Arnob

In [7]:
print("Arnob" in s)

True

In [9]:
if "Arnob" in s:
    print("Yes")

if "Hllo" not in s:
    print("Yes")
else:
    print("NO")

Yes
Yes

Slicing

In [18]:
print(s[-7:])

s Arnob

In [19]:
print(s.upper())
print(s.lower())

HELLO, MY NAME IS ARNOB
hello, my name is arnob

In [22]:
print(s.strip())

Hello, my name is Arnob

In [23]:
a="""Arnob, Soisob, Onty, are bad"""
print(a)
print(a.split())
print(a.split(","))

Arnob, Soisob, Onty, are bad
['Arnob,', 'Soisob,', 'Onty,', 'are', 'bad']
['Arnob', ' Soisob', ' Onty', ' are bad']

Format

In [1]:
b="My {0} is {1}"
a="Arnob"
n='name'
ag="age"
age="22 year old"

print(b.format(n,a))

My {0} is {1}

Escape Characters
Other escape characters used in Python:

Code	Result	
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value